.button {
    background-color: #FFFFFF;
    color: #004111;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

.button:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button:hover, .button:focus {
    background-color: #008E25;
}

.line-separator{
    margin-top: 40px;
    height: 1px;
    border-bottom: 1px solid #D3D3D3;
}

h1 {
	color: #FFFFFF
}

label img {
    display: block;
		filter: grayscale(100%);
}

#btnControl1{
	display:none;
}
#btnControl2{
	display:none;
}
#btnControl3{
	display:none;
}
#btnControl4{
	display:none;
}
#btnControl5{
	display:none;
}
#btnControl6{
	display:none;
}
#btnControl7{
	display:none;
}
#btnControl8{
	display:none;
}



#btnControl1:checked + label > img {
    background: blue;
    color: white;
		border: 5px solid #004111;
		border-radius: 20%;
		filter: grayscale(0%);
}
#btnControl2:checked + label > img {
	background: blue;
	color: white;
	border: 5px solid #004111;
	border-radius: 20%;
	filter: grayscale(0%);
}
#btnControl3:checked + label > img {
	background: blue;
	color: white;
	border: 5px solid #004111;
	border-radius: 20%;
	filter: grayscale(0%);
}
#btnControl4:checked + label > img {
	background: blue;
	color: white;
	border: 5px solid #004111;
	border-radius: 20%;
	filter: grayscale(0%);
}
#btnControl5:checked + label > img {
	background: blue;
	color: white;
	border: 5px solid #004111;
	border-radius: 20%;
	filter: grayscale(0%);
}
#btnControl6:checked + label > img {
	background: blue;
	color: white;
	border: 5px solid #004111;
	border-radius: 20%;
	filter: grayscale(0%);
}
#btnControl7:checked + label > img {
	background: blue;
	color: white;
	border: 5px solid #004111;
	border-radius: 20%;
	filter: grayscale(0%);
}
#btnControl8:checked + label > img {
	background: blue;
	color: white;
	border: 5px solid #004111;
	border-radius: 20%;
	filter: grayscale(0%);
}

img:overlaybackground {
    opacity: 1;
}
